{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>FoodApp</title>
</head>
<body>
{% block body %}
{% for item in item_list %}

<div class="row">
    <div class="col-md-3 offset-md-2">
        <img class="card" height="150px" src="{{ item.Item_image}}">
    </div>
    <div class="col-md-4">
        <h3>{{ item.Item_name}}</h3>
        <h5>{{ item.Item_desc }}</h5>
        <h6>£{{ item.Item_price }}</h6>
    </div>
    <div class="col-md-2">
        <a href="{% url 'food:detail' item.id %}" class="btn btn-success">Details</a>
    </div>
</div>

{% endfor %}
{% if user.is_authenticated %}
    <h1>ENJOY THE WEBSITE</h1>
{% else %}
    <h1>LOGIN TO ADD,DELETE AND UPDATE THE ITEM</h1>
{% endif %}
{% endblock %}


</body>
</html>


